footer {
    margin: 100px 0 0 0;
}

.footer-copyright {
    background-color: #e53935;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.bottom-bar {
    display: none;
}

.area-opcao-bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.area-opcao-bottom-bar.ativo,
.area-opcao-bottom-bar:hover {
    background-color: #a82d2d;  
}

.divisao-bottom-bar {
    margin: 0;
    padding: 0;
    height: 40px;
    border: 1px solid rgb(199, 197, 197);
}

.opcao-footer {
    margin: auto;
}

.opcao-footer:hover {
    background-color: #e53935;
    cursor: pointer;
}

.opcao-footer img {
    width: 30px;
    height: 30px;
}


.lista-inferior {
    /* Estilos para o contêiner da lista, se necessário */
    width: 250px; /* Exemplo: uma largura para um menu lateral */
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    /* Se for um menu lateral que flutua, você pode adicionar position: fixed, top, left/right */
}

.lista-inferior ul {
    list-style: none; /* Remove os marcadores de lista padrão */
    padding: 0;
    margin: 0;
}

.lista-inferior li {
    margin-bottom: 15px; /* Espaçamento entre os itens da lista */
}

.lista-inferior li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #333; /* Cor do texto do link */
    font-size: 18px;
    font-weight: bold;
    display: block; /* Garante que o link ocupe toda a largura do item da lista */
    padding: 5px 0; /* Espaçamento interno do link */
    transition: color 0.2s ease-in-out;
}

.lista-inferior li a:hover {
    color: #007bff; /* Cor do link ao passar o mouse */
}

/* Estilo para o ícone de fechar, se ele pertencer a este componente */
/* Supondo que o ícone de fechar (X) está fora do div da lista ou é um botão separado */
.close-icon { /* Exemplo de classe para o X na imagem */
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #666;
}

.close-icon:hover {
    color: #000;
}



@media (max-width: 579px) {
    .footer-copyright {
        display: none;
    }

    .bottom-bar {
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #e53935;
        color: white;
        padding: 5px 0 5px 0;
        box-shadow: black 0px 0px 10px;
    }
}