footer {
    margin: 100px 0 0 0;
}



.footer-copyright {
    background-color: #e53935;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.bottom-bar {
    display: none;
}

.area-opcao-bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.area-opcao-bottom-bar.ativo,
.area-opcao-bottom-bar:hover {
    background-color: #a82d2d;
}

.divisao-bottom-bar {
    margin: 0;
    padding: 0;
    height: 40px;
    border: 1px solid rgb(199, 197, 197);
}

.opcao-footer {
    margin: auto;
}

.opcao-footer:hover {
    background-color: #e53935;
    cursor: pointer;
}

.opcao-footer img {
    width: 30px;
    height: 30px;
}


.lista-inferior {
    display: none;
    width: 250px;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.lista-inferior ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lista-inferior li {
    margin-bottom: 15px;
}

.lista-inferior li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    display: block; 
    padding: 5px 0;
    transition: color 0.2s ease-in-out;
}

.lista-inferior li a:hover {
    color: #e53935;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #666;
}

.close-icon:hover {
    color: #000;
}

@media (max-width: 579px) {
    .lista-inferior {
        display: block;
    }

    .footer-copyright {
        display: none;
    }

    .bottom-bar {
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #e53935;
        color: white;
        padding: 5px 0 5px 0;
        box-shadow: black 0px 0px 10px;
    }
}